@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

section {
    padding: 70px 0;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.subtitle {
    background: rgba(240, 231, 20, 0.2);
    border-radius: 1000px;
    padding: 10px 16px;
    width: fit-content;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.section-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 44px;
    line-height: 127%;
    color: #24272e;
    margin-bottom: 16px;
}

.yellow-btn {
    border-radius: 100px;
    background-color: var(--yellow-color);
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-color);
}

.icon {
    background-color: #24272e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}