@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.yellow-btn {
    border-radius: 100px;
    background-color: var(--yellow-color);
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-color);
}