:root {
    //colors
    --background-color: #f3f4f6;
    --dark-color: #101c26;
    --gray-color: #bab9b9;
    --yellow-color: #f0e714;
    --text-color: #555c68;
    --white-color: #f3f4f6;

    //fonts
    --font-family: "Inter", sans-serif;
    --second-family: "ITC Avant Garde Gothic Std", sans-serif;
    --third-family: "Manrope", sans-serif;
}