.about {
}
.about-div {
    display: flex;
    gap: 30px;
    margin-bottom: 140px;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.about-div__media {
}
.about-div__media-img {
}
.about-div__info {
    width: 628px;
    &-subtitle {
        background: rgba(240, 231, 20, 0.2);
        border-radius: 1000px;
        padding: 10px 16px;
        width: fit-content;
        margin-bottom: 24px;
        text-transform: uppercase;
    }
    &-title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 44px;
        line-height: 127%;
        color: #24272e;
        margin-bottom: 16px;
    }
    &-text {
        margin-bottom: 40px;
    }
    &-button {
        border-radius: 122px;
    }
}

.about-item {
    display: flex;
    gap: 24px;
    width: 414px;
    margin-bottom: 32px;
    &__img {
        width: 68px;
        height: 68px;
        background-color: #24272e;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: -0.01em;
        color: #24272e;
        margin-bottom: 2px;
    }
    &__descr {
        font-size: 16px;
    }
}
