.contacts {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 92px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .contacts-info {
            width: 510px;
            .subtitle {
            }
            .section-title {
                margin-bottom: 16px;
            }
            .contacts__text {
                font-size: 16px;
                letter-spacing: -0.01em;
                margin-bottom: 24px;
            }
            .contacts-item {
                display: flex;
                align-items: flex-start;
                gap: 12px;
                margin-bottom: 24px;
                &__icon {
                    width: 16px;
                    height: 16px;
                }
                &__link {
                    width: 233px;
                    font-size: 14px;
                    opacity: 0.9;
                }
            }
            
        }
        
        .contacts-form {
            border-radius: 10px;
            padding: 60px 60px 60px 80px;
            background-color: var(--dark-color);
            color: #fff;
            &__label {
                display: block;
                width: 400px;
                margin-bottom: 24px;
                font-weight: 500;
                font-size: 14px;
                line-height: 171%;
                color: #d3d3d3;
            }
            &__input {
                padding-bottom: 10px;
                display: block;
                background-color: transparent;
                width: 100%;
                border: none;
                border-bottom: 1.50px solid #fff;
                &::placeholder {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #fff;
                }
            }
            &__btn {
                margin-top: 64px;
                border-radius: 100px;
                padding: 13px 60px;
            }
        }
    }
    
    
}

@media (max-width: 1150px) {
    .contacts {
        &__inner {
            .contacts-info {
                width: 100%;
                padding-right: 60px; 
            }
            
            .contacts-form {
                padding: 60px;
                &__label {
                    width: 100%;
                }
            }
        }
    }
   
}

@media (max-width: 850px) {
    .contacts {
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contacts-info {
            }
            
            .contacts-form {
                width: 100%;
            }
        }
    }
   
}
