.header {
    background-color: var(--dark-color);
    min-height: 100vh;
    padding-bottom: 68px;
    .header-top {
        padding: 27px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 44px;
        .menu {
            .menu-list {
                display: flex;
                align-items: center;
                gap: 40px;
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 16px;
                color: var(--gray-color);
            }
            .menu-list__item {
                border-bottom: 1px solid transparent;
                transition: all 0.3s;
                &.active {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
                &:hover {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }
        
        .header__buttons {
            display: flex;
            align-items: center;
            gap: 16px;
            .header__btn {
                border: 1px solid #cecece;
                border-radius: 100px;
                padding: 13px 32px;
                background-color: transparent;
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 16px;
                color: #cecece;
                text-align: center;
            }
        }
    }   

    .header-promo {
        margin-bottom: 100px;
        display: flex;
        gap: 80px;
        .header-promo__info {
            width: 534px;
            padding-top: 55px;
            &-title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 60px;
                line-height: 110%;
                letter-spacing: 0.01em;
                color: var(--white-color);
                margin-bottom: 24px;
            }
            &-text {
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 20px;
                line-height: 160%;
                letter-spacing: -0.01em;
                color: var(--white-color);
                margin-bottom: 40px;
            }
            .header-promo__buttons {
                display: flex;
                gap: 23px;
                align-items: center;
                margin-bottom: 75px;
                .header-promo__btn {
                    padding: 18px 30px;
                }
            }
            
            .header-promo__nums {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header-promo__nums-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .header-promo__nums-main {
                        font-family: var(--second-family);
                        font-weight: 600;
                        font-size: 44px;
                        line-height: 127%;
                        color: var(--yellow-color);
                        margin-bottom: 10px;
                    }
                    .header-promo__nums-descr {
                        font-family: var(--second-family);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 175%;
                    }
                }
                
            }
            
        }
        
    }
    
    .brands {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .brands__item-img {
        }
    }
    
}

@media (max-width: 1100px) {
    .header {
        .header-promo {
            flex-direction: column;
        }
        .brands {
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }
    }
}

@media (max-width: 640px) {
    .header {
        .brands {
            width: 100%;
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }
    }
}

@media (max-width: 420px) {
    .header {
        .brands {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }
}